{% extends "index.html" %}
<a href="{{ url_for('static', filename='dummy.pdf') }}">Syllabus</a><
{% block content %}

        <div style="align-self: flex-start;">
        <h1>Assignments</h1>
        <h3>Assginment 1</h3>
        <p>Handout: <a href='{{ url_for('static', filename='dummy.pdf') }}'>A1.pdf</a></p>

        <p>Topics: Relational Algebra, System R</p>

        <p>Solution: <a href='{{ url_for('static', filename='dummy.pdf') }}'>A1s.pdf</a></p>

        <h3>Assginment 2</h3>
        <p>Handout: <a href='{{ url_for('static', filename='dummy.pdf') }}'>A2.pdf</a></p>

        <p>Topics: PhP, Adobe Flash, Java for the Web</p>
        
        <p>Solution: <a href='{{ url_for('static', filename='dummy.pdf') }}'>A2s.pdf</a></p>

        <h3>Assginment 3</h3>
        <p>Handout: <a href='{{ url_for('static', filename='dummy.pdf') }}'>A3.pdf</a></p>

        <p>Topics: Authentication via Password over HTTP</p>

        <p>Solution: <a href='{{ url_for('static', filename='dummy.pdf') }}'>A3s.pdf</a></p>
        </div>
{% endblock %}
