{% extends "index.html" %}
{% block content %}
        <div style="align-self: flex-start;">
        <h1>Course Schedule</h1>
        <h3>Week 1</h3>
        <p>Topic:        Introduction to downloading Sqlite</p>
        <p>Reading:      http://www.sqlite.org</p>
        <p>Lec Material: <a href="{{ url_for('static', filename='dummy.pdf') }}">LECn.pdf</a></p>
        <h3>Week 2</h3>
        <p>Topic:        Downloading Sqlite</p>
        <p>Reading:      http://www.sqlite.org</p>
        <p>Lec Material: <a href="{{ url_for('static', filename='dummy.pdf') }}">LECn.pdf</a></p>
        <h3>Week 3</h3>
        <p>Topic:        Relational Algebra</p>
        <p>Reading:      http://www.relational_algebra.org</p>
        <p>Lec Material: <a href="{{ url_for('static', filename='dummy.pdf') }}">LECn.pdf</a></p>
        <h3>Week 4</h3>
        <p>Topic:        Combining RA and Sqlite</p>
        <p>Reading:      http://www.sqlite_and_relational_algebra.org</p>
        <p>Lec Material: <a href="{{ url_for('static', filename='dummy.pdf') }}">LECn.pdf</a></p>
        <h3>Week 5</h3>
        <p>Topic:        What does HTML Stand for?</p>
        <p>Reading:      http://wikipedia.org</p>
        <p>Lec Material: <a href="{{ url_for('static', filename='dummy.pdf') }}">LECn.pdf</a></p>
        <h3>Week 6</h3>
        <p>Topic:        What is a CSS?</p>
        <p>Reading:      http://css.org</p>
        <p>Lec Material: <a href="{{ url_for('static', filename='dummy.pdf') }}">LECn.pdf</a></p>
        <h3>Week 7</h3>
        <p>Topic:        Java is to Javascript as ...</p>
        <p>Reading:      http://caristocarpet.com</p>
        <p>Lec Material: <a href="{{ url_for('static', filename='dummy.pdf') }}">LECn.pdf</a></p>
        <h3>Week 8</h3>
        <p>Topic:        Adobe Flash player web apps</p>
        <p>Reading:      http://adobe.org</p>
        <p>Lec Material: <a href="{{ url_for('static', filename='dummy.pdf') }}">LECn.pdf</a></p>
        <h3>Week 9</h3>
        <p>Topic:        "Lifiting" web design</p>
        <p>Reading:      http://www.iptheft.org</p>
        <p>Lec Material: <a href="{{ url_for('static', filename='dummy.pdf') }}">LECn.pdf</a></p>
        <h3>Week 10</h3>
        <p>Topic:        Final exam that has nothing to do with the course material</p>
        <p>Reading:      Literally an entire seperate class of topics</p>
        <p>Lec Material: <a href="{{ url_for('static', filename='dummy.pdf') }}">LECn.pdf</a></p>
        </div>
{% endblock %}
