{% extends "index.html" %}
{% block content %}
        <div style="align-self: flex-start;">
            <h1>FAQ (False Advice Quickly)</h1>
            <h3>Do we get to use IBM DB2?</h3>
            <span>no silly</span>
            <h3>Are we going to create our own database?</h3>
            <span>no bc that would take forever</span>
            <h3>I thought this was a course on MS Access, Are we not using MS ACCESS????</h3>
            <span>Of course we aren't thats A: Not a real database, and B: If we were using some GUI WYSIWYG "editor" this wouldn't be class, it would be a youtube tutorial</span>
            <h3>Do we need a textbook?</h3>
            <span>Grab a copy of <i>the American Yawp</i> and get studying!</span>
            <h3>What is the lowest possible grade I can reasonably get to pass this course?</h3>
            <span>50.0</span>
            <h3>How many assignments can I miss<s>will I miss</s> before I am guaranteed to fail the class?</h3>
            <span>2</span>
        </div>
{% endblock %}
