{% extends "index.html" %}
{% block content %}

        <div class="content_class">
        <h1>Feedback</h1>
        <p>
            Want to send anonymous feedback about the course? Or some improvements to the site?
            <br>Fill out the text box below!
        </p>
        <textarea name="feedbck" rows="10" cols="50"> </textarea><br>
        <button class="feedbck_button" onclick="alert('Sorry, your feedback was not processed!')">Send Feedback</button>
        </div>
    </body>
</html>
{% endblock %}
