/* Drop down Button */
.drop_button {
  background-color: #afad4c;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.drop_down_menu {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.drop_down_items {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.drop_down_items a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.drop_down_ a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.drop_down_menu:hover .drop_down_items {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.drop_down_menu:hover .drop_button {
    background-color: #3e8e41;
}