{% extends "src/base.html" %}
{% block content %}
        <h1>Tutorials!!</h1>

        <h3>Week 1</h3>
        <pre>Tutorial Worksheet:    wskn.pdf</pre>
        <pre>Solutions:             soln.pdf</pre>
        <h3>Week 2</h3>
        <pre>Tutorial Worksheet:    wskn.pdf</pre>
        <pre>Solutions:             soln.pdf</pre>
        <h3>Week 3</h3>
        <pre>Tutorial Worksheet:    wskn.pdf</pre>
        <pre>Solutions:             soln.pdf</pre>
        <h3>Week 4</h3>
        <pre>Tutorial Worksheet:    wskn.pdf</pre>
        <pre>Solutions:             soln.pdf</pre>
        <h3>Week 5</h3>
        <pre>Tutorial Worksheet:    wskn.pdf</pre>
        <pre>Solutions:             soln.pdf</pre>
        <h3>Week 6</h3>
        <pre>Tutorial Worksheet:    wskn.pdf</pre>
        <pre>Solutions:             soln.pdf</pre>
        <h3>Week 7</h3>
        <pre>Tutorial Worksheet:    wskn.pdf</pre>
        <pre>Solutions:             soln.pdf</pre>
        <h3>Week 8</h3>
        <pre>Tutorial Worksheet:    wskn.pdf</pre>
        <pre>Solutions:             soln.pdf</pre>
        <h3>Week 9</h3>
        <pre>Tutorial Worksheet:    wskn.pdf</pre>
        <pre>Solutions:             soln.pdf</pre>
        <h3>Week 10</h3>
        <pre>Tutorial Worksheet:    wskn.pdf</pre>
        <pre>Solutions:             soln.pdf</pre>
{% endblock %}
