{% extends "index.html" %}
{% block content %}

        <div style="align-self: flex-start;">
            <h1>Tutorials!!</h1>

            <h3>Week 1</h3>
            <p>Tutorial Worksheet:    <a href="{{ url_for('static', filename='dummy.pdf') }}">wskn.pdf</a></p>
            <p>Solutions:             <a href="{{ url_for('static', filename='dummy.pdf') }}">soln.pdf</a></p>
            <h3>Week 2</h3>
            <p>Tutorial Worksheet:    <a href="{{ url_for('static', filename='dummy.pdf') }}">wskn.pdf</a></p>
            <p>Solutions:             <a href="{{ url_for('static', filename='dummy.pdf') }}">soln.pdf</a></p>
            <h3>Week 3</h3>
            <p>Tutorial Worksheet:    <a href="{{ url_for('static', filename='dummy.pdf') }}">wskn.pdf</a></p>
            <p>Solutions:             <a href="{{ url_for('static', filename='dummy.pdf') }}">soln.pdf</a></p>
            <h3>Week 4</h3>
            <p>Tutorial Worksheet:    <a href="{{ url_for('static', filename='dummy.pdf') }}">wskn.pdf</a></p>
            <p>Solutions:             <a href="{{ url_for('static', filename='dummy.pdf') }}">soln.pdf</a></p>
            <h3>Week 5</h3>
            <p>Tutorial Worksheet:    <a href="{{ url_for('static', filename='dummy.pdf') }}">wskn.pdf</a></p>
            <p>Solutions:             <a href="{{ url_for('static', filename='dummy.pdf') }}">soln.pdf</a></p>
            <h3>Week 6</h3>
            <p>Tutorial Worksheet:    <a href="{{ url_for('static', filename='dummy.pdf') }}">wskn.pdf</a></p>
            <p>Solutions:             <a href="{{ url_for('static', filename='dummy.pdf') }}">soln.pdf</a></p>
            <h3>Week 7</h3>
            <p>Tutorial Worksheet:    <a href="{{ url_for('static', filename='dummy.pdf') }}">wskn.pdf</a></p>
            <p>Solutions:             <a href="{{ url_for('static', filename='dummy.pdf') }}">soln.pdf</a></p>
            <h3>Week 8</h3>
            <p>Tutorial Worksheet:    <a href="{{ url_for('static', filename='dummy.pdf') }}">wskn.pdf</a></p>
            <p>Solutions:             <a href="{{ url_for('static', filename='dummy.pdf') }}">soln.pdf</a></p>
            <h3>Week 9</h3>
            <p>Tutorial Worksheet:    <a href="{{ url_for('static', filename='dummy.pdf') }}">wskn.pdf</a></p>
            <p>Solutions:             <a href="{{ url_for('static', filename='dummy.pdf') }}">soln.pdf</a></p>
            <h3>Week 10</h3>
            <p>Tutorial Worksheet:    <a href="{{ url_for('static', filename='dummy.pdf') }}">wskn.pdf</a></p>
            <p>Solutions:             <a href="{{ url_for('static', filename='dummy.pdf') }}">soln.pdf</a></p>
        </div>
{% endblock %}
